:root {
  --bleu: #0065FC;
  --bleu-dark: #0053d0;
  --bleu-ciel: #DEEBFF;
  --gris-light: #F2F2F2;
  --gris-light2: #dddddd;
  --gris-med: #b6b6b6;
  font-family: Raleway;
  font-weight: 400;
  font-size: medium;
  color: black;
  background: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--bleu)
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
}

h1, h2 {
  font-size: x-large;
}


/* HEADER */

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 0 40px;
}

#logo {
  margin-top: 30px;
}

nav {
  display: -ms-flexbox;
  display: flex;
}

nav > a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 20px;
  border-top: 4px solid rgba(255,255,255,0);
  border-bottom: 4px solid rgba(255,255,255,0);
  font-size: large;
  font-weight: 500;
}

nav > a:hover {
  border-top: 4px solid var(--bleu);
  border-bottom: 4px solid rgba(255,255,255,0);
  color: var(--bleu);
}

#active {
  border-top: 4px solid var(--bleu);
  border-bottom: 4px solid rgba(255,255,255,0);
  color: var(--bleu);
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {


  header {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: stretch;
        align-items: stretch;
    padding: 0;
  }

  header > * {
    text-align: center;
  }

  #logo {
    margin-left: 15%;
  }

  nav > a {
    width: 50%;
    min-width: 170px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 15px 0;
  }

  nav > a:hover {
    border-top: 4px solid rgba(255,255,255,0);
    border-bottom: 4px solid var(--bleu);
  }

  #active {
    border-top: 4px solid rgba(255,255,255,0);
    border-bottom: 4px solid var(--bleu);
  }
}
