footer {
  padding: 7%;
  color: white;
  background: var(--grey-dark);
  p {
    font-family: Shrikhand;
    font-size: large;
    color: white;
  }
  ul {
    padding-left: 0;
    line-height: 30px;
    list-style: none;
    li {
      font-size: large;

      &:nth-child(1), &:nth-child(2) {
        font-weight: 600;
      }
    }
  }
  i {
    margin-right: 5px;
  }
}
