:root {
  background: white;
  --grey-light1: #f6f6f6;
  --grey-light2: #eaeaea;
  --grey-light3: #c6c6c6;
  --grey-medium: #6a6a6a;
  --grey-dark: #353535;
  --pink: #ff79da;
  --violet-light:  #f5edff;
  --violet-dark: #9356dc;
  --green-light: #99e2d0;
  --green-dark: #008766;
  font-family: Roboto;
  font-size: medium;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}

h3 {
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 0 3px 3px 1px var(--grey-light3);
  z-index: 1;
  background: white;
  * {
    padding: 15px 10px 5px 10px;
  }
  .back {
    display: none;
    position: absolute;
    top: 10;
    left: 0;
    font-size: large;
    color: var(--grey-dark);
  }
  .logo img {
    position: relative;
    margin-left: 15%;
    width: 60%;
  }
}
