main {
  position: relative;
  top: 80px;
}

/* SHADOWS */
.btn, .card {
  -webkit-box-shadow: 2px 5px 8px 0px var(--grey-light3);
          box-shadow: 2px 5px 8px 0px var(--grey-light3);
}

/* ASIDE */
aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.position {
  text-align: center;
  font-size: large;
  font-weight: 600;
  padding: 14px;
  width: 100vw;
  color: var(--grey-dark);
  background: var(--grey-light2);
}

.position * {
  margin: 5px;
}

.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15%;
  width: 100vw;
  background: var(--grey-light1);
}

.suggestion h1 {
  margin: 0 10%;
}

.suggestion h2 {
  margin: 5%;
}

.suggestion .btn {
  margin-top: 5%;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85vw;
  margin: 7%;
}

.fonctionnement .btn {
  margin: 7% 0;
  padding: 30px 0;
}

/* BTN */
.btn {
  padding: 20px;
  border-radius: 30px;
  font-size: large;
  font-weight: 600;
}

.btn_fadepink {
  color: white;
  background: linear-gradient(167deg, var(--pink), var(--violet-dark));
}

.btn_shrink {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* FONCTIONNEMENT BTN */
.fonctionnement ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fonctionnement .btn {
  position: relative;
  left: 2%;
}

.btn_light {
  background: var(--violet-light);
  counter-increment: step-counter;
}

.btn_light .btn_ico {
  position: relative;
  left: 5%;
  color: var(--grey-medium);
}

.btn_light .btn_txt {
  position: relative;
  left: 10%;
}

.btn_light::before {
  content: counter(step-counter);
  padding: 5px 10px;
  margin-left: -15px;
  border-radius: 50%;
  color: white;
  background: var(--violet-dark);
}

/* SECTION */
section {
  padding: 7%;
  background: var(--grey-light1);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5%;
  background: white;
  width: 100%;
  height: 250px;
}

.card .card-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  overflow: hidden;
}

.card .card-image .new {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 2% 3%;
  border-radius: 5%;
  font-weight: 600;
  color: var(--green-dark);
  background: var(--green-light);
}

.card .card-image img {
  bottom: 0px;
  border-radius: 5% 5% 0 0;
  width: 100%;
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5%;
}

.card .card-body .card-title {
  font-size: large;
  font-weight: 600;
}

.card .card-body p {
  line-height: 0;
  font-weight: 300;
  font-size: large;
}

.card .card-body .rating {
  padding: 2% 4%;
  font-size: x-large;
  color: var(--grey-medium);
}
/*# sourceMappingURL=main.css.map */