[submodule "P3/ThomasRanque_3_13012022"]
	path = P3/ThomasRanque_3_13012022
	url = git@github.com:Peanuts-83/ThomasRanque_3_13012022.git
[submodule "P4/GameOn-website-FR"]
	path = P4/GameOn-website-FR
	url = git@github.com:Peanuts-83/GameOn-website-FR.git
[submodule "P6/ThomasRanque_6_24012022"]
	path = P6/ThomasRanque_6_24012022
	url = git@github.com:Peanuts-83/ThomasRanque_6_24012022.git
[submodule "P7/ThomasRanque_7_11022022"]
	path = P7/ThomasRanque_7_11022022
	url = git@github.com:Peanuts-83/ThomasRanque_7_11022022.git
[submodule "P11/P11_Kasa"]
	path = P11/P11_Kasa
	url = git@github.com:Peanuts-83/P11_Kasa.git
[submodule "P9/ThomasRanque_9_24022022"]
	path = P9/ThomasRanque_9_24022022
	url = git@github.com:Peanuts-83/ThomasRanque_9_24022022.git
[submodule "P12/--force"]
	path = P12/--force
	url = git@github.com:Peanuts-83/P12_SportSee_back.git
[submodule "P12/P12_SportSee_back"]
	path = P12/P12_SportSee_back
	url = git@github.com:Peanuts-83/P12_SportSee_back.git
[submodule "P12/P12_SportSee_front"]
	path = P12/P12_SportSee_front
	url = git@github.com:Peanuts-83/P12_SportSee_front.git
[submodule "P13/P13-Bank-API"]
	path = P13/P13-Bank-API
	url = git@github.com:Peanuts-83/P13-Bank-API.git
[submodule "P2/P2_Booki"]
	path = P2/P2_Booki
	url = git@github.com:Peanuts-83/P2_Booki.git
[submodule "P13/P13-Bank-Front"]
	path = P13/P13-Bank-Front
	url = git@github.com:Peanuts-83/P13-Bank-Front.git