[submodule "P3/ThomasRanque_3_13012022"]
	path = P3/ThomasRanque_3_13012022
	url = git@github.com:Peanuts-83/ThomasRanque_3_13012022.git
[submodule "P4/GameOn-website-FR"]
	path = P4/GameOn-website-FR
	url = git@github.com:Peanuts-83/GameOn-website-FR.git
[submodule "P6/ThomasRanque_6_24012022"]
	path = P6/ThomasRanque_6_24012022
	url = git@github.com:Peanuts-83/ThomasRanque_6_24012022.git
[submodule "P7/ThomasRanque_7_11022022"]
	path = P7/ThomasRanque_7_11022022
	url = git@github.com:Peanuts-83/ThomasRanque_7_11022022.git