@import "../styles/variables";

.About {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    .photo_title {
        display: none;
    }
}

@media (max-width: 964px) {

}

@media (max-width: 768px) {

}
