@import '../styles/variables';

.Header {
    display: flex;
    align-items: flex-end;
    margin: 50px 0;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    // border: 1px dashed red;
    img {
        width: auto;
    }
    nav {
        margin-left: auto;
        .Link {
            margin-left: 60px;
        }
    }
}


@media (max-width: 964px) {
    .Header {
        margin: 30px 0;
        font-size: 18px;
        img {
            width: 150px;
        }
        nav > .Link {
            margin-left: 40px;
        }
    }
}

@media (max-width:768px) {
    .Header {
        margin: 15px 0;
        font-size: 12px;
        img {
            width: 100px;
        }
        nav > .Link {
            margin-left: 20px;
        }
    }
}