@import "../styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $Montserrat, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Link {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  // border: 1px dashed blueviolet;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1520px;
}

@media (max-width: 964px) {
  .App {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 0 5%;
  }
}
