@import "../styles/variables";

.Logement {
	.content {
		.top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			h1,
			h3 {
				font-weight: 500;
				color: $red;
			}
			h1 {
				font-size: 36px;
			}
			h3 {
				font-size: 18px;
				margin-top: -15px;
			}
			.owner_rates {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
		.textuals {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 50px;
			margin-bottom: 100px;
			align-items: flex-start;
		}
	}
}

@media (max-width: 964px) {
	.Logement {
		.content {
			.top {
				flex-direction: column;
				margin-bottom: 15px;
				h1 {
					font-size: 24px;
				}
				h3 {
					font-size: 16px;
				}
				.tags {
					margin-bottom: 10px;
				}
				.owner_rates {
					flex-direction: row;
				}
			}
			.textuals {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 50px;
				margin-bottom: 100px;
				align-items: flex-start;
			}
		}
	}
}

@media (max-width: 768px) {
	.Logement {
		.content {
			.top {
				flex-direction: column;
				margin-bottom: 15px;
				h1 {
					font-size: 24px;
				}
				h3 {
					font-size: 16px;
				}
				.tags {
					margin-bottom: 10px;
				}
				.owner_rates {
					flex-direction: row;
				}
			}
			.textuals {
				display: grid;
				grid-template-columns: 1fr ;
				gap: 10px;
				margin-bottom: 100px;
				align-items: flex-start;
			}
		}
	}
}
