body {
  background: lightgrey;
  font-family: Roboto;
  font-weight: 400;
  font-size: 17px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex end;
      -ms-flex-align: flex end;
          align-items: flex end;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 10px 50px 0 10px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3;
  cursor: pointer;
  background: white;
  overflow: hidden;
}

.green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 86px;
  background: #80e2d2;
  border-radius: 0 15px 15px 0;
  font-size: xx-large;
  color: white;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.fas {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform ease-in .4s .2s;
  transition: -webkit-transform ease-in .4s .2s;
  transition: transform ease-in .4s .2s;
  transition: transform ease-in .4s .2s, -webkit-transform ease-in .4s .2s;
}

.hideText {
  opacity: 0;
  padding: 0 40px 0 5px;
  background: white;
  position: absolute;
  bottom: 17px;
  right: 10px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: opacity ease-in 0s .4s, -webkit-transform ease-in .3s;
  transition: opacity ease-in 0s .4s, -webkit-transform ease-in .3s;
  transition: transform ease-in .3s, opacity ease-in 0s .4s;
  transition: transform ease-in .3s, opacity ease-in 0s .4s, -webkit-transform ease-in .3s;
}

.btn:hover > .greenBtn {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.btn:hover .hideText {
  opacity: 1;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: -webkit-transform ease-in .3s .1s;
  transition: -webkit-transform ease-in .3s .1s;
  transition: transform ease-in .3s .1s;
  transition: transform ease-in .3s .1s, -webkit-transform ease-in .3s .1s;
}

.btn:hover .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* ############### LOADER SPINNER ################ */
.loader {
  position: relative;
  top: 200px;
}

.loader div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loader div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=anims.css.map */