body {
  background: rgb(173, 173, 173);
  font-family: Roboto;
  font-weight: 400;
  font-size: medium;
}
/*
div {
  border: 1px dashed red;
}
*/

.container {
  width: 500px;
  height: 100vw;
  background: lightgrey;
}
.container2 {
  width: 250px;
  height: 100%;
  background: rgb(170, 170, 170);
}


.btn-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  &:hover .btn-square {
    width: 80px;
  }
  &:hover .fas {
    opacity: 1;
    transform: rotate(360deg);
    transition: transform ease-in .4s;
  }
}

.btn-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 120px);
  flex: 3 3 auto;
  padding-left: 20px;
  .btn-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 18px;
  }
  .btn-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
  }
}

.btn-price {
  display: flex;
  align-items: flex-end;
  padding: 0 15px 18px 2px;
}

.btn-square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 0;
  height: 80px;
  background: lightgreen;
  overflow: hidden;
  transition: all ease-out .4s;
  .fas {
    opacity: 0;
    color: white;
    font-size: x-large;
    transform: rotate(0deg);
    transition: none;
  }
}
