@import "../../styles/variables";

.Carousel {
	border-radius: 30px;
	overflow: hidden;
	.photo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 15px;
		width: 100%;
		height: 415px;
		background-position: 50%;
		background-size: cover;
	}
	.chevron {
		padding: 20px;
		font-size: 80px;
		color: white;
        filter: drop-shadow(1px 1px 3px rgba(0,0,0,.3));
        &:active {
            transform: scale(120%);
            color: $red;
        }
	}
	.chevron_left {
        padding-right: 50px;
		&:hover {
			cursor: pointer;
			animation: 0.5s swipeLeft;
		}
	}
	.chevron_right {
        padding-left: 50px;
		&:hover {
			cursor: pointer;
			animation: 0.5s swipeRight;
		}
	}
}

@keyframes swipeLeft {
	from {
		transform: scale(100%) translateX(0);
		opacity: 1;
	}
	to {
		transform: scale(120%) translateX(-50px);
		opacity: 0;
	}
}
@keyframes swipeRight {
	from {
		transform: scale(100%) translateX(0);
		opacity: 1;
	}
	to {
		transform: scale(120%) translateX(50px);
		opacity: 0;
	}
}


@media (max-width: 964px) {
	.Carousel {
		height: 350px;
		overflow: hidden;
		position: relative;
		.photo {
			height: 350px;
		}
		.carousel_flow {
			top: -50px;
			#next,
			#prev {
				transform: scale(200%) translateY(10px);
			}
		}
	}
}

@media (max-width: 768px) {
	.Carousel {
		height: 255px;
		overflow: hidden;
		position: relative;
		.photo {
			height: 250px;
		}
		.carousel_flow {
			top: -80px;
			#next,
			#prev {
				transform: scale(100%);
			}
			#next {
				transform: translateX(20px);
			}
			#prev {
				transform: translateX(-20px);
			}
		}
	}
}
