@import "../../styles/variables";

.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
  height: auto;
  padding: 50px;
  margin: 60px 0;
  border-radius: 30px;
  background-color: $greyl;
  .photo_grid {
    /* Square responsive img */
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    cursor: pointer;
  }
}


@media (max-width: 964px) {
    .Grid {
        grid-template-columns: 1fr 1fr;
        border-radius: 15px;
        grid-gap: 30px;
        padding: 30px;
        margin: 40px 0;
    }
  }

  @media (max-width: 768px) {
    .Grid {
        grid-template-columns: 1fr;
        border-radius: 10px;
        grid-gap: 6vw;
        padding: 0;
        margin: 30px 0;
        background-color: white;
    }
  }