@import "../../styles/variables";

.Owner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 20px 0 10px 0;
	.name {
		font-size: 18px;
		color: $red;
		margin: 0 10px;
	}
	.picture {
		img {
			width: 64px;
			border-radius: 50%;
		}
	}
}

@media (max-width: 964px) {
	.Owner {
		order: 2;
		margin: 10px 0 5px 0;
		.name {
			font-size: 14px;
		}
		.picture {
			img {
				width: 48px;
			}
		}
	}
}

@media (max-width: 768px) {
	.Owner {
		margin: 0;
		.name {
			font-size: 10px;
		}
		.picture {
			img {
				width: 32px;
			}
		}
	}
}
