@import "../../styles/variables";

.Rates {
	display: flex;
	flex: 1;
	margin-top: auto;
	align-items: flex-end;
	// background-color: red;
	.full {
		font-size: 24px;
		color: $red;
	}
	.empty {
		font-size: 24px;
		color: lightgray;
	}
}

@media (max-width: 964px) {
	.Rates {
		margin: 0;
		.full {
			font-size: 18px;
		}
		.empty {
			font-size: 18px;
		}
	}
}

@media (max-width: 768px) {
	.Rates {
		.full {
			font-size: 14px;
		}
		.empty {
			font-size: 14px;
		}
	}
}
