@import "../../styles/variables";

.Textual {
	margin-top: 20px;
	border-radius: 10px;
	background-color: $greyl;
	.chevron {
		display: block;
	}
	.chevron_down {
		display: none;
	}
	.cap {
		display: flex;
		justify-content: space-between;
		padding: 7px 15px;
		margin: 0;
		font-weight: 600;
		border-radius: 10px;
		color: white;
		background-color: $red;
		&:hover {
			cursor: pointer;
		}
		&:hover > .chevron {
			animation: 0.5s alternate shake;
		}
	}
	.text {
		line-height: 1.7em;
		color: $red;
		padding: 20px 15px 40px 15px;
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
			}
		}
	}
	.hide {
		display: none;
		height: 0;
	}
}
.hide {
	.chevron {
		display: block;
	}
	.chevron_up {
		display: none;
	}
}
.chevron {
	font-size: 24px;
}

@keyframes shake {
	from {
		transform: rotate(10deg);
	}
	15% {
		transform: rotate(-15deg);
	}
	35% {
		transform: rotate(25deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@media (max-width: 964px) {
    .Textual {
        .cap {
            font-size: 14px;
        }
        .text {
            font-size: 14px;
        }
    }

    .chevron {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .Textual {
        .cap {
            font-size: 13px;
            padding: 4px 15px;
        }
        .text {
            font-size: 12px;
        }
    }

    .chevron {
        font-size: 14px;
    }
}
