/* MAIN */
main {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  gap: 40px;
}

fieldset {
  border: none;
}

fieldset strong {
  font-size: x-large;
}


/* SEARCH form */
.search {
  display: flex;
  align-content: stretch;
  margin-bottom: 30px;
}

#ico {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px 0 0 20px;
  font-size: large;
  background: var(--gris-light);
}

#townSearch {
  float: left;
  padding-left: 15px;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--gris-light);
  border-bottom: 1px solid var(--gris-light);
  font-weight: 700;
}

#btnSearch {
  padding: 15px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--bleu);
  font-weight: 800;
  color: white;
}
#btnSearch:hover {
  background: var(--bleu-dark);
  cursor: pointer;
}
#btnSearch:active {
  display: inline-flex;
  align-items: flex-end;
}

/* FILTRES checkbuttons */
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.options > * {
  margin: 5px 0;
  font-size: medium;
  font-weight: 700;
}

.options > p {
  padding-right: 3%;
  font-size: large;
}

.options > div {
  display: flex;
  flex-wrap: wrap;
}

.options > div > * {
  margin: 0 0 10px 0;
}

/* FILTRES */
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* fond texte */
.options label {
  position: relative;
  margin-right: 30px;
  padding: 6px 20px 6px 50px;
  border: 2px solid var(--gris-light);
  line-height: 1.8;
  cursor: pointer;
  border-radius: 30px;
  z-index: 0;
}
/* fond texte hover */
.options label:hover {
  border: 2px solid var(--bleu);
  background: var(--bleu-dark);
  color: white;
}

/* cercle */
.options label:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  top: -2px;
  left: -3px;
  width: 45px;
  height: 45px;
  background: var(--bleu-ciel);
  border-radius: 50%;
  z-index: 1;
  color: var(--bleu);
  font-size: large;
}
/* cercle hover */
.options label:hover:before {
  background: white;
}

/* icons */
#eco::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f53a";
}
#fam::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f1ae";
}
#rom::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f004";
}
#ani::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f6d3";
}

/* fond text checked */
input[type="checkbox"]:checked + label {
  padding-left: 20px;
  padding-right: 50px;
  color: white;
  background: var(--bleu);
}
/* fond texte checked hover */
input[type="checkbox"]:checked + label:hover {
  background: var(--bleu-dark);
}
/* text position if checked */
input[type="checkbox"]:checked + label::before {
  left: calc(100% - 40px);
}

label, .options label::before {
  -webkit-transition:.25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


/* INFO */
.info {
  display: flex;
  align-items: baseline;
}

.info > div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 5px; height: 5px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid var(--gris-light);
  font-size: small;
}

.info i {
  color: var(--bleu);
}


@media screen and (max-width: 992px) {
  main {
    margin: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0 0;
  }

  #townSearch {
    flex-grow: 1;
    width: 100%;
  }

  #btnSearch {
    position:relative;
    right: 15px;
    border-radius: 20px;
  }


  .options > p::after {
    display: block;
  }
}
