footer {
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 50px 40px;
  background: var(--gris-light);
}

footer div {
  margin-right: 20%;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    -ms-flex-direction: column;
        flex-direction: column;
    gap: 20px;
  }
}