/* MAIN */
main {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

form {
  background: var(--gris-light);
}

fieldset {
  border: none;
}

fieldset > strong {
  font-size: x-large;
}


/* SEARCH form */
.search {
  display: flex;
  align-content: stretch;
  padding: 20px 0;
}

#ico {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px 0 0 20px;
  font-size: large;
  background: var(--gris-light2);
}

#townSearch {
  float: left;
  background: var(--gris-light);
  padding-left: 15px;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--gris-light2);
  border-bottom: 1px solid var(--gris-light2);
  font-weight: 700;
}

#btnSearch {
  padding: 15px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--bleu);
  font-weight: 800;
  color: white;
}
#btnSearch:hover {
  background: var(--bleu-dark);
  cursor: pointer;
}
#btnSearch:active {
  display: inline-flex;
  align-items: flex-end;
}

/* FILTRES checkbuttons */
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.options > * {
  margin: 5px 0;
  font-size: medium;
  font-weight: 700;
}

.options > p {
  padding-right: 3%;
}

.options > div {
  display: flex;
  flex-wrap: wrap;
}

.options > div > * {
  margin: 0 0 10px 0;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.options label {
  position: relative;
  margin-right: 30px;
  padding: 6px 20px 6px 45px;
  border: 2px solid var(--gris-med);
  line-height: 1.8;
  cursor: pointer;
  border-radius: 30px;
  z-index: 0;
  background: rgba(0,0,0,0);
}

.options label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 37px;
  height: 37px;
  background: var(--bleu-ciel);
  border-radius: 50%;
  z-index: 1;
}

#eco::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f53a";
  font-size: large;
  text-align: center;
  color: var(--bleu);
}
#fam::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f1ae";
  font-size: large;
  text-align: center;
  color: var(--bleu);
}
#rom::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f004";
  font-size: large;
  text-align: center;
  color: var(--bleu);
}
#ani::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f6d3";
  font-size: large;
  text-align: center;
  color: var(--bleu);
}

input[type="checkbox"]:checked + label {
  padding-left: 20px;
  padding-right: 45px;
  color: white;
  background: var(--bleu);
}

input[type="checkbox"]:checked + label::before {
  left: calc(100% - 37px);
  color: black;
}

label, .options label::before {
  /*background: red;*/
  -webkit-transition:.25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* INFO */
.info {
  display: flex;
  align-items: baseline;
}

.info > div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 5px; height: 5px;
  padding: 12px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid var(--gris-med);
}

.info i {
  color: var(--bleu);
}


@media screen and (max-width: 992px) and (min-width: 769px) {
  main {
    margin: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0 20px;
  }

  #townSearch {
    flex-grow: 1;
  }

  #btnSearch {
    position:relative;
    right: 15px;
    border-radius: 20px;
  }


  .options > p::after {
    display: block;
  }
}
