.main-content {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: var(--gris-light);
  margin: 0 20px;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  margin: 0 20px;
}

section > div:first-child,
aside > div:first-child {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: x-large;
}

.card:hover {
  box-shadow: 0 5px 20px grey;
}

#icon-pop {
  font-size: xx-large;
}

#hebergements {
  width: 70%;
}

#hebergements > .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#populaires {
  width: 30%;
}

#populaires > .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

aside > .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 450px;
}

/* CARDS */

#hebergements .card {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 400px;
  flex-grow: 1;
  background: white;
  border: 6px solid white;
  border-radius: 15px;
  box-shadow: 0 5px 20px grey;
}

#hebergements .card-image {
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

#hebergements .card-image img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform width;
  transition-duration: .3s;
}


#populaires .card {
  display: flex;
  background: white;
  border: 6px solid white;
  border-radius: 15px;
  box-shadow: 0 5px 20px grey;
}

#populaires .card-image {
  width: 40%;
  min-width: 80px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
}

#populaires .card-image img {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform width;
  transition-duration: .3s;
}


aside .card {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  width: 250px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px grey;

}

aside .card-image {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

aside .card-image img {
  height: 180%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform width;
  transition-duration: .3s;
}

aside .card-body {
  height: 30px;
  display: flex;
  flex: 0 0 30px;
}

aside .card-title {
  padding-top: 15px;
}




.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
}

.card-rating {
  justify-self: flex-end;
}
