.main-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

section {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: var(--gris-light);
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

section > div:first-child,
aside > div:first-child {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: x-large;
}

#icon-popu {
  font-size: x-large;
}

#hebergements {
  width: 70%;
}

#hebergements > .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#populaires {
  width: 30%;
}

#populaires > .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

aside > .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 450px;
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .main-content {
    flex-direction: column;
  }

  #populaires {
    order: 1;
    width: auto;
  }

  #hebergements {
    order: 2;
    width: auto;
  }

  aside > .container {
    background: greenyellow;
    height: auto;
  }


  aside .card {
    width: auto;
  }

  aside .card-image {
    width: 100vw;
  }

  aside .card-body, aside .card-title {
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    gap: 0;
  }

  section {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    background: var(--gris-light);
  }

  aside {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  #populaires {
    order: 1;
    width: auto;
  }

  #hebergements {
    order: 2;
    width: auto;
    background: white;
  }

  aside > .container {
    background: greenyellow;
    height: auto;
  }
}

/* CARDS */
.card img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform width;
  transition-duration: .3s;
}

#hebergements .card {
  flex-direction: column;
  width: 250px;
  max-width: 600px;
  flex-grow: 1;
  border: 6px solid white;
}

#hebergements .card-image {
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

#hebergements .card-image img {
  width: 150%;
  position: absolute;
}


#populaires .card {
  border: 6px solid white;
}

#populaires .card-image {
  width: 35%;
  min-width: 80px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
}

#populaires .card-image img {
  width: 300px;
  position: absolute;
}


aside .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 23%;
  background: white;
}

aside .card-image {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

aside .card-image img {
  position: absolute;
}

aside .card-body {
  height: 30px;
  display: flex;
  flex: 0 0 30px;
}

aside .card-title {
  padding-top: 15px;
}


.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
}

.card-rating {
  justify-self: flex-end;
}

.card {
  box-shadow: 0 5px 20px var(--gris-light2);
  border-radius: 15px;
  display: flex;
  background: white;
}

/* CARD hover */
.card:hover {
  box-shadow: 0 5px 20px var(--gris-med);
}

.card:hover img {
  filter: brightness(120%);
}