body {
    background: lightgrey;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
}

.btn {
    display: flex;
    align-items: flex end;
    position: relative;
    width: fit-content;
    border-radius: 15px;
    padding: 10px 50px 0 10px ;
    box-shadow: 3px 3px 5px rgb(195, 195, 195);
    cursor: pointer;
    background: white;
    overflow: hidden;
}

.green {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 86px;
    background: rgb(128, 226, 210);
    border-radius: 0 15px 15px 0;
    font-size: xx-large;
    color: white;
    transition: ease-in-out .5s;
    transform: translateX(100%);
}

.fas {
    transform: rotate(-360deg);
    transition: transform ease-in .4s .2s;
}

.hideText {
    opacity: 0;
    padding: 0 40px 0 5px;
    background: white;
    position: absolute;
    bottom: 17px;
    right: 10px;
    transform: translateX(0px);
    transition: transform ease-in .3s, opacity ease-in 0s .4s;
}

.btn:hover > .greenBtn {
    transform: translateX(0%);
}

.btn:hover .hideText {
    opacity: 1;
    transform: translateX(-50px);
    transition: transform ease-in .3s .1s;
}

.btn:hover .fas {
    transform: rotate(0deg);
}
